# docker images
.DockerFile*

# Roadmap documentation
DEVOPS-ROADMAP.md

# Docker env file
.env

# secrets
.secrets

# Secrets yaml file
**/Secret.yml

# wheelhouse 
**/wheelhouse/

# docs
PROGRESS.md
AGENDA.md